<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <main>
            <div>
                <h1>This is great, your kindajobs email verification otp is  <%= emailVerificationOtp %></h1>
            </div>
        </main>
    </body>
</html>